@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="GYm,fitness,business,company,agency,multipurpose,modern,bootstrap4">

    <!-- theme meta -->
    <meta name="theme-name" content="gymfit">

    <meta name="author" content="Themefisher.com">

    <title>GymFit| Fitness template</title>

    <!-- bootstrap.min css -->
    @Styles.Render("~/bundles/bootstrap/css")
    <!-- Icofont Css -->
    @Styles.Render("~/bundles/icofont/css")
    <!-- Themify Css -->
    @Styles.Render("~/bundles/themify/css")
    <!-- animate.css -->
    @Styles.Render("~/bundles/animate/css")
    <!-- Magnify Popup -->
    @Styles.Render("~/bundles/magnify/css")
    <!-- Owl Carousel CSS -->
    @Styles.Render("~/bundles/Slick/css")
    @Styles.Render("~/bundles/Slick/tcss")

    <!-- Add local styles, mostly for plugins css file -->
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}

    <!-- Main Stylesheet -->
    @Styles.Render("~/bundles/main/css")
</head>

<body>
    <div class="main-wrapper ">
        @RenderBody()
    </div>

    <!-- Section for main scripts render -->
    <!-- Main jQuery -->
    @Scripts.Render("~/bundles/jquery/js")
    <!-- Bootstrap 4.3.1 -->
    @Scripts.Render("~/bundles/bootstrap/js")
    <!-- Slick Slider -->
    @Scripts.Render("~/bundles/Slick/js")
    <!--  Magnific Popup-->
    @Scripts.Render("~/bundles/magnific/dist/js")
    <!-- Form Validator -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.32/jquery.form.js"></script>
    @Scripts.Render("~/bundles/jquery/valid/js")

    @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu5nZKbeK-WHQ70oqOWo-_4VmwOwKP9YQ"></script>*@
    @*<script src="External/google-map/gmap.js"></script>*@

    @Scripts.Render("~/bundles/js")
    <!-- Handler for local scripts -->
    @RenderSection("Scripts", required: false)
</body>
</html>