@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="GYm,fitness,business,company,agency,multipurpose,modern,bootstrap4">

    <!-- theme meta -->
    <meta name="theme-name" content="gymfit">

    <meta name="author" content="Themefisher.com">

    <title>GymFit| Fitness template</title>

    <!-- bootstrap.min css -->
    @*<link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">*@
    @Styles.Render("~/bundles/bootstrap/css")
    <!-- Icofont Css -->
    @*<link rel="stylesheet" href="plugins/icofont/icofont.min.css">*@
    @Styles.Render("~/bundles/icofont/css")
    <!-- Themify Css -->
    @*<link rel="stylesheet" href="plugins/themify/css/themify-icons.css">*@
    @Styles.Render("~/bundles/themify/css")
    <!-- animate.css -->
    @*<link rel="stylesheet" href="plugins/animate-css/animate.css">*@
    @Styles.Render("~/bundles/animate/css")
    <!-- Magnify Popup -->
    @*<link rel="stylesheet" href="plugins/magnific-popup/dist/magnific-popup.css">*@
    @Styles.Render("~/bundles/magnify/css")
    <!-- Owl Carousel CSS -->
    @*<link rel="stylesheet" href="plugins/slick-carousel/slick/slick.css">*@
    @*<link rel="stylesheet" href="plugins/slick-carousel/slick/slick-theme.css">*@
    @Styles.Render("~/bundles/Slick/css")
    @Styles.Render("~/bundles/Slick/tcss")
    <!-- Main Stylesheet -->
    @*<link rel="stylesheet" href="css/style.css">*@
    @Styles.Render("~/bundles/main/css")
</head>

<body>
<nav class="navbar navbar-expand-lg navigation fixed-top" id="navbar">
    @Html.Partial("_Header")
</nav>

<div class="main-wrapper">
    @RenderBody()

    <!-- Footer-->
    @*</section>*@
    <footer class="footer bg-black-50">
        @Html.Partial("_Footer")
    </footer>
</div>

    <!-- Section for main scripts render -->
    <!-- Main jQuery -->
    @Scripts.Render("~/bundles/jquery/js")
    <!-- Bootstrap 4.3.1 -->
    @Scripts.Render("~/bundles/bootstrap/js")
    <!-- Slick Slider -->
    @Scripts.Render("~/bundles/Slick/js")
    <!--  Magnific Popup-->
    @Scripts.Render("~/bundles/magnific/dist/js")
    <!-- Form Validator -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.32/jquery.form.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>
    
    @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu5nZKbeK-WHQ70oqOWo-_4VmwOwKP9YQ"></script>*@
    @*<script src="External/google-map/gmap.js"></script>*@

    @Scripts.Render("~/bundles/js")
    <!-- Handler for local scripts -->
    @RenderSection("scripts", required: false)
</body>
</html>