@model Spartacus.Domain.Entities.User.UTable

<div class="row">

    <dl class="dl-horizontal col">
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastLogin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastLogin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastIp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastIp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUsernameChange)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUsernameChange)
        </dd>
    </dl>
    <dl class="dl-horizontal col">
        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>

        @if (Model.Role == Spartacus.Domain.Enums.URole.Trainer)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Trainer.Activity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Trainer.Activity)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Trainer.Bio)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Trainer.Bio)
            </dd>
        }

        @if (Model.Membership != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Membership.StartTime)
                /
                @Html.DisplayNameFor(model => model.Membership.EndTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Membership.StartTime)
                -
                @Html.DisplayFor(model => model.Membership.EndTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Membership.CatId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Membership.CatId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Membership.Period)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Membership.Period)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.FileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileName)
        </dd>
    </dl>
</div>
