@model Spartacus.Web.Models.FrogotPassword

@{
     ViewBag.Title = "Frogot";
     Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

<h2>Frogot</h2>

@using ((Html.BeginForm("Forgot", "Account", FormMethod.Post)))
{
     @Html.AntiForgeryToken()

     <div class="form-horizontal">
          <h4>FrogotPassword</h4>
          <hr />
          @Html.ValidationSummary(true, "", new { @class = "text-danger" })
          <div class="form-group">
               @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
               <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
               </div>
          </div>

          <div class="form-group">
               <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Reset password" class="btn btn-default" />
               </div>
          </div>
          <li class="nav-item"><a class="nav-link" href=@Url.Action("Profile", "Account")>@Session["token"]</a></li>
          <li class="nav-item"><a class="nav-link" href=@Url.Action("Profile", "Account")>@Session["Username"]</a></li>
     </div>
}

