@model Spartacus.Domain.Entities.User.UTable

<section class="slider bg-5">
     <div class="container">
          <div class="row">
               <div class="col-md-8 mx-auto">
                    <div class="p-5 bg-white rounded shadow-lg">
                         <h2 class="mb-2 text-center">Sign Up</h2>
                         <p class="text-center lead">Sign Up to open the door to new experiences</p>
                         @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                         {

                              <label class="font-500">Username</label>
                              @Html.TextBoxFor(Model => Model.Username, new
                              {
                                  @class = "form-control form-control-lg mb-3",
                                  type = "text"
                              })

                              <label class="font-500">Firstname</label>
                              @Html.TextBoxFor(Model => Model.Username, new
                              {
                                  @class = "form-control form-control-lg mb-3",
                                  type = "text"
                              })
                              <label class="font-500">Lastname</label>
                              @Html.TextBoxFor(Model => Model.Username, new
                              {
                                  @class = "form-control form-control-lg mb-3",
                                  type = "text"
                              })


                              <label class="font-500">Email</label>
                              @Html.TextBoxFor(Model => Model.Username, new
                              {
                                   @class = "form-control form-control-lg mb-3",
                                   type = "email",
                                   placeholder = "example@gmail.com",

                              })
                              <label class="font-500">Password</label>
                              @Html.TextBoxFor(Model => Model.Password, new
                              {
                                  @class = "form-control form-control-lg",
                                  type = "password"
                              })
                              <label class="font-500">Confirm password</label>
                              @Html.TextBoxFor(Model => Model.Password, new
                              {
                                   @class = "form-control form-control-lg",
                                   type = "password"
                              })
                              <label class="font-500">Confirm password</label>
                              <div class="form-group">
                                   @Html.DropDownListFor(Model => Model.Level, new SelectList(new string[] { "Moderator", "Consmer", "Admin" }, "Rugby"), htmlAttributes: new { @class = "form-control" })
                                   <div class="col-md-8">
                                        @Html.ValidationMessageFor(model => model.Level, "", new { @class = "text-danger" })
                                   </div>
                              </div>
                              <p class="m-0 py-4"><a href="" class="text-muted">Forget password?</a></p>
                              <div class="form-group">
                                   <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Create" class="btn btn-default" />
                                   </div>
                              </div>
                         }
                         <div class="text-center pt-4">
                              <p class="m-0">Do you have an account? <a href="@Url.Action("Login", "Account")" class="text-dark font-weight-bold">Sign In</a></p>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</section>