@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
@model Spartacus.Web.Models.UserRegister

<h2 class="mb-2 text-center">Sign Up</h2>
<p class="text-center lead">Sign Up to open the door to new experiences</p>
@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    <div class="form-floating mt-3">
        @Html.TextBoxFor(m => m.Username, new
        {
            @class = "form-control",
            placeholder = "",
            type = "text",
        })
        @Html.LabelFor(m => m.Username)
        @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
    </div>
    <div class="form-floating mt-3">
        @Html.TextBoxFor(m => m.Firstname, new
        {
            @class = "form-control",
            placeholder = "",
            type = "text",
        })
        @Html.LabelFor(m => m.Firstname)
        @Html.ValidationMessageFor(m => m.Firstname, "", new { @class = "text-danger" })
    </div>
    <div class="form-floating mt-3">
        @Html.TextBoxFor(m => m.Lastname, new
        {
            @class = "form-control",
            placeholder = "",
            type = "text",
        })
        @Html.LabelFor(m => m.Lastname)
        @Html.ValidationMessageFor(m => m.Lastname, "", new { @class = "text-danger" })
    </div>
    <div class="form-floating mt-3">
        @Html.TextBoxFor(m => m.Email, new
        {
            @class = "form-control",
            placeholder = "",
            type = "email"
        })
        @Html.LabelFor(m => m.Email)
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
    </div>
    <div class="form-floating mt-3">
        @Html.TextBoxFor(m => m.Password, new
        {
            @class = "form-control",
            placeholder = "",
            type = "password",
        })
        @Html.LabelFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
    </div>
    <div class="form-floating mt-3">
        @Html.TextBoxFor(m => m.ConfirmPassword, new
        {
            @class = "form-control",
            placeholder = "",
            type = "password",
        })
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
    </div>

    <button class="btn btn-success btn-lg w-100 shadow-lg mt-3">SIGN UP</button>
}
<div class="text-center pt-4">
    <p class="m-0">Do you have an account? <a href="@Url.Action("Login", "Account")" class="text-dark font-weight-bold">Sign In</a></p>
</div>