@model Spartacus.Domain.Entities.Membership.CatTable

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CatTable</h4>
    <hr />
    <div class="row justify-content-center">
    <div class="col-lg-5">
        <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceOneMonth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceOneMonth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceThreeMonths)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceThreeMonths)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceSixMonths)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceSixMonths)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceOneYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceOneYear)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Read")
        </div>
    }
    </div>
    </div>
</div>
