@model IEnumerable<Spartacus.Domain.Entities.Tokens.RegisterToken>

@{
     ViewBag.Title = "ReadRegToken";
     Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

<h2>ReadRegToken</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
     <tr>
          <th>
               @Html.DisplayNameFor(model => model.Id)
          </th>
          <th>
               @Html.DisplayNameFor(model => model.Email)
          </th>
          <th>
               @Html.DisplayNameFor(model => model.Token)
          </th>
          <th>
               @Html.DisplayNameFor(model => model.EndDate)
          </th>
          <th>
               @Html.DisplayNameFor(model => model.Status)
          </th>
          <th></th>
     </tr>

@foreach (var item in Model) {
    <tr>
         <td>
              @Html.DisplayFor(modelItem => item.Id)
         </td>
         <td>
              @Html.DisplayFor(modelItem => item.Email)
         </td>
         <td>
              @Html.DisplayFor(modelItem => item.Token)
         </td>
         <td>
              @Html.DisplayFor(modelItem => item.EndDate)
         </td>
         <td>
              @Html.DisplayFor(modelItem => item.Status)
         </td>
         <td>
              @Html.ActionLink("Delete", "DeleteRegToken", new { id = item.Id })
         </td>
    </tr>
}

</table>
