@model IEnumerable<Spartacus.Domain.Entities.User.UTable>

@{
    ViewBag.Title = "Read";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Read</h2>

<p>
    @Html.ActionLink("Create New", "Create") <br />
    @Html.ActionLink("Remove unconfirmed", "RemoveUnconfirmed")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastLogin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastIp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Membership.StartTime)
            /
            @Html.DisplayNameFor(model => model.Membership.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsConfirmed)
        </th>
        <th>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastLogin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastIp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Membership.StartTime)
            -
            @Html.DisplayFor(modelItem => item.Membership.EndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsConfirmed)
        </td>
        <td>
            @Html.ActionLink("Edit", "Update", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
